<div class="row">

  <div class="col-lg-12 well user-info">
    <h2 class="user-h2"> Diet Tracker</h2>
    <h3 class="user-h3"> Name: <%= @user.name %> Email: <%= @user.email %></h3>
  </div>

</div><!-- end of row 1-->

<div class="row">

  <div class="col-lg-5 well food-info">
    <h2 class="foods-h3"> Foods</h2>
    <hr>
    <div class="foods-area">

      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Food Name</th>
          <th>Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="food-type">Apple</td>
          <td class="food-calories">80</td>
        </tr>
      </tbody>
    </table>

  </div><!--end of foods list div -->

</div><!--end of food main div -->

  <div class="col-lg-2"></div>

  <div class="col-lg-5 well exercise-info">
    <h2 class="exercises-h3"> Exercises</h2>
    <hr>
    <div class="exercises-area">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Exercise Done</th>
            <th>Calories Burned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="exercise-type">sqats</td>
            <td class="burned-calories">180</td>
          </tr>
        </tbody>
      </table>

  </div><!-- end of exercise list table div -->

  </div><!-- end of main exercise div -->

</div><!-- end of row 2-->
