//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cosmo variables
@import "bootswatch/superhero/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
// body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/superhero/bootswatch";

// Whatever application styles you have go last
// @import "base";

.well {
  border-radius: 4px;
}
.headline {
  font-size: 50px;
  text-align: center;
}

.user-list {
 border-radius: 4px;
}

.user-info {
  text-align: center;
}

.user-h2 {}
.user-h3 {}

.exercises-h3 {
  text-align: center;
}

.foods-h3 {
  text-align: center;
}

.btn-default {
  background-color: rgb(235, 235, 235);
  color: rgb(223, 105, 26);
  border-radius: 3px;
  width: 100%
}

.btn-default:hover {
  background-color: rgb(223, 105, 26);
  color: rgb(235, 235, 235);
  border-radius: 3px;
  width: 100%
}
